@font-face {
  font-family: 'FontAwesome';
  font-weight: normal;
  font-style: normal;
  src: url(/_sys/assets/fonts/fontawesome-webfont.woff) format('woff');
}
@font-face {
  font-family: "FontMfizz";
  src: url(/_sys/assets/fonts/font-mfizz.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "icomoon";
  src: url(/_sys/assets/fonts/icomoon.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "devicons";
  src: url(/_sys/assets/fonts/devicons.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Octicons Regular";
  src: url(/_sys/assets/fonts/octicons.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}
.octicons {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
}
.checklist-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f076";
}
.code-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
}
.comment-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02b";
}
.dashboard-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f07d";
}
.database-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f096";
}
.gear-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
}
.git-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f00a";
}
.package-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c4";
}
.ruby-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f047";
}
.secret-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f08c";
}
.terminal-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
}
.xml-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
}
.markdown-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c9";
}
.book-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f007";
}
.text-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f011";
}
.image-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f012";
}
.directory-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f016";
}
.elixir-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: '\f010';
}
.erlang-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: '\f010';
}
.c-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
}
.h-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
}
.cpp-icon {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f010";
}
.objc-icon {
  font-family: "Octicons Regular";
  text-align: center;
  content: "\f010";
  font-size: medium;
}
.fa {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
}
.coffee-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0f4";
}
.css3-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13c";
}
.html5-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
}
.twitter-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f099";
}
.puppet-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0c3";
}
.smarty-icon {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0eb";
}
.mf {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
}
.js-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f148";
  top: 0px;
}
.node-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f14c";
  font-size: medium;
}
.python-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f109";
}
.csharp-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f134";
}
.perl-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f117";
}
.php-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f14a";
  font-size: medium;
}
.java-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f142";
  font-size: medium;
}
.scala-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f115";
  font-size: medium;
}
.haskell-icon {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f130";
}
.icomoon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
}
.grunt-icon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e611";
}
.gulp-icon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e610";
}
.hbs-mustache-icon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e60f";
}
.npm-icon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e616";
}
.sass-icon {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e603";
}
.devicons {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
}
.bower-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e64d";
}
.go-icon {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e624";
  font-weight: bolder;
  top: 4px;
  -webkit-background-clip: text;
  -webkit-text-stroke-color: transparent;
  -webkit-text-stroke-width: 0.85px;
  -webkit-transform: scale(1.15, 1.1);
  font-size: medium;
}
.swift-icon {
  font-family: "devicons";
  text-align: center;
  top: 3px;
  content: "\e655";
  font-size: large;
}
.docker {
  font-family: "fontcustom";
  font-size: large;
  text-align: center;
  top: 3px;
}
.docker-icon {
  font-family: "fontcustom";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\f100";
}
.pane ul.tab-bar li.tab .title:before {
  margin-right: 5px;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
.icon-file-text,
.icon-file-directory,
.icon-file-media,
.icon-book {
  margin-right: 15px;
}
.icon-file-text:before,
.icon-file-directory:before,
.icon-file-media:before,
.icon-book:before {
  text-align: center;
}
.icon-file-directory:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f016";
}
.icon-file-directory[data-name=".git"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f00a";
}
.icon-file-directory[data-name=".bundle"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c4";
}
.icon-file-text:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f011";
}
.icon-file-text[data-name$="TODO"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f076";
}
.icon-file-text[data-name$=".xml"]:before,
.icon-file-text[data-name$=".jl"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
}
.icon-file-text[data-name$=".js"]:before,
.icon-file-text[data-name$=".jsx"]:before,
.icon-file-text[data-name$=".ts"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f148";
  top: 0px;
}
.icon-file-text[data-name$=".coffee"]:before,
.icon-file-text[data-name$=".litcoffee"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0f4";
}
.icon-file-text[data-name$=".less"]:before,
.icon-file-text[data-name$=".css"]:before,
.icon-file-text[data-name$=".styl"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13c";
}
.icon-file-text[data-name$=".slim"]:before,
.icon-file-text[data-name$=".skim"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f07d";
}
.icon-file-text[data-name$=".json"]:before,
.icon-file-text[data-name$=".cson"]:before,
.icon-file-text[data-name$=".yml"]:before,
.icon-file-text[data-name$=".yaml"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f096";
}
.icon-file-text[data-name$=".ex"]:before,
.icon-file-text[data-name$=".exs"]:before,
.icon-file-text[data-name$="mix.exs"]:before,
.icon-file-text[data-name$="mix.ex"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: '\f010';
}
.icon-file-text[data-name$=".erl"]:before,
.icon-file-text[data-name$=".beam"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: '\f010';
}
.icon-file-text[data-name$=".erb"]:before,
.icon-file-text[data-name$=".html"]:before,
.icon-file-text[data-name$=".haml"]:before,
.icon-file-text[data-name$=".jade"]:before,
.icon-file-text[data-name$=".swig"]:before,
.icon-file-text[data-name$=".jsp"]:before,
.icon-file-text[data-name$=".ctp"]:before,
.icon-file-text[data-name$=".ejs"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f13b";
}
.icon-file-text[data-name$=".hbs"]:before,
.icon-file-text[data-name$=".handlebars"]:before,
.icon-file-text[data-name$=".mustache"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e60f";
}
.icon-file-text[data-name$=".tpl"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0eb";
}
.icon-file-text[data-name$=".gitignore"]:before,
.icon-file-text[data-name$=".gitattributes"]:before,
.icon-file-text[data-name=".gitmodules"]:before,
.icon-file-text[data-name=".mailmap"]:before,
.icon-file-text[data-name$=".editorconfig"]:before,
.icon-file-text[data-name$=".jshintrc"]:before,
.icon-file-text[data-name$=".jscsrc"]:before,
.icon-file-text[data-name$=".module"]:before,
.icon-file-text[data-name$=".htaccess"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02f";
}
.icon-file-text[data-name=".npmrc"]:before,
.icon-file-text[data-name=".npmignore"]:before,
.icon-file-text[data-name="npm-debug.log"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f14c";
  font-size: medium;
}
.icon-file-text[data-name=".bowerrc"]:before,
.icon-file-text[data-name="bower.json"]:before {
  font-family: "devicons";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\e64d";
}
.icon-file-text[data-name$=".sass"]:before,
.icon-file-text[data-name$=".scss"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e603";
}
.icon-file-text[data-name$=".php"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f14a";
  font-size: medium;
}
.icon-file-text[data-name$=".py"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f109";
}
.icon-file-text[data-name$="Gemfile"]:before,
.icon-file-text[data-name$="Gemfile.lock"]:before,
.icon-file-text[data-name$="Rakefile"]:before,
.icon-file-text[data-name$=".gemspec"]:before,
.icon-file-text[data-name=".ruby-gemset"]:before,
.icon-file-text[data-name=".ruby-version"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f047";
}
.icon-file-text[data-name$=".rb"]:before,
.icon-file-text[data-name$=".opal"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f047";
}
.icon-file-text[data-name$="_spec.rb"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f02b";
}
.icon-file-text[data-name$=".pp"]:before {
  font-family: "FontAwesome";
  font-size: small;
  text-align: center;
  content: "\f0c3";
}
.icon-file-text[data-name$=".pl"]:before,
.icon-file-text[data-name$=".pm"]:before,
.icon-file-text[data-name$=".t"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f117";
}
.icon-file-text[data-name$=".java"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f142";
  font-size: medium;
}
.icon-file-text[data-name$=".scala"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f115";
  font-size: medium;
}
.icon-file-text[data-name$=".hs"]:before {
  font-family: "FontMfizz";
  font-size: small;
  text-align: center;
  content: "\f130";
}
.icon-file-text[data-name$=".c"]:before,
.icon-file-text[data-name$=".h"]:before,
.icon-file-text[data-name$=".cpp"]:before,
.icon-file-text[data-name$=".hpp"]:before,
.icon-file-text[data-name$=".ipp"]:before,
.icon-file-text[data-name$=".m"]:before,
.icon-file-text[data-name$=".mm"]:before,
.icon-file-text[data-name$=".swift"]:before {
  font-family: "devicons";
  text-align: center;
  top: 3px;
  content: "\e655";
  font-size: large;
}
.icon-file-text[data-name$=".cs"]:before,
.icon-file-text[data-name$=".vb"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
}
.icon-file-text[data-name$=".secret"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f08c";
}
.icon-file-text[data-name$=".mdown"]:before,
.icon-file-text[data-name$=".markdown"]:before,
.icon-file-text[data-name$=".mkd"]:before,
.icon-file-text[data-name$=".mkdown"]:before,
.icon-file-text[data-name$=".rmd"]:before,
.icon-file-text[data-name$=".ron"]:before,
.icon-file-text[data-name$=".md"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c9";
}
.icon-file-text[data-name$=".sh"]:before,
.icon-file-text[data-name$=".bash"]:before,
.icon-file-text[data-name=".bashrc"]:before,
.icon-file-text[data-name$=".zsh"]:before,
.icon-file-text[data-name=".zshrc"]:before,
.icon-file-text[data-name$=".fish"]:before,
.icon-file-text[data-name=".fishrc"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
}
.icon-file-text[data-name="GRUNTFILE.js"]:before,
.icon-file-text[data-name="Gruntfile.js"]:before,
.icon-file-text[data-name="gruntfile.js"]:before,
.icon-file-text[data-name="GRUNTFILE.coffee"]:before,
.icon-file-text[data-name="Gruntfile.coffee"]:before,
.icon-file-text[data-name="gruntfile.coffee"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e611";
}
.icon-file-text[data-name="GULPFILE.js"]:before,
.icon-file-text[data-name="Gulpfile.js"]:before,
.icon-file-text[data-name="gulpfile.js"]:before,
.icon-file-text[data-name="GULPFILE.coffee"]:before,
.icon-file-text[data-name="Gulpfile.coffee"]:before,
.icon-file-text[data-name="gulpfile.coffee"]:before {
  font-family: "icomoon";
  font-size: 18px;
  text-align: center;
  top: 3px;
  content: "\e610";
}
.icon-file-text[data-name="Dockerfile"]:before {
  font-family: "fontcustom";
  font-size: large;
  text-align: center;
  top: 3px;
  content: "\f100";
}
.icon-file-text[data-name$=".xaml"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f05f";
}
.icon-file-text[data-name$=".ps1"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f0c8";
}
.icon-file-text[data-name="README.md"]:before,
.icon-file-text[data-name="Readme.md"]:before,
.icon-file-text[data-name="readme.md"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f007";
}
.icon-file-text[data-name$=".png"]:before,
.icon-file-text[data-name$=".gif"]:before,
.icon-file-text[data-name$=".jpg"]:before {
  font-family: "Octicons Regular";
  font-size: medium;
  text-align: center;
  content: "\f012";
}
